.venv/
.vscode/
__pycache__/

raw_data/*.csv
data/.augmented/

*_MACOSX*
*.DS_Store

# Figures and videos projects
figures/
*.ai
*.prproj
*.prin

# Jupyter Notebook
*.ipynb

# Plyground
playground/*.py